<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Submission</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Content Submission</div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter the title" value="{{post.title}}">
                        </div>
                        <div class="form-group">
                            <label for="caption">Caption</label>
                            <input required type="text" class="form-control" id="caption" name="caption" placeholder="Enter the caption" value="{{post.caption}}">
                        </div>
                        <div class="form-group">
                            <label for="coverImage">Cover Image</label>
                            <input required type="text" class="form-control" id="image-link" name="image-link" placeholder="Enter the link of the cover image" value="{{post.image}}">
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea required class="form-control" id="content" name="content" rows="5" placeholder="Enter the content">{{post.content}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Bootstrap JS and jQuery script links -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
