<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Media Management</title>
</head>
<body>

<div class="container mt-4">

    <div class="row">
        <div class="col-md-12 mb-4">
            <form method="POST" enctype="multipart/form-data">
                <input id="title" class="form-control" type="text" name="title" placeholder="Enter Title of Image" required>
                <div class="custom-file">
                    <input name = "file" type="file" class="custom-file-input" id="imageUpload">
                    <label class="custom-file-label" for="imageUpload">Choose an image</label>
                </div>
                <button class="btn btn-primary mt-2" type="Submit" name="file" id="uploadButton">Upload</button>
            </form>
        </div>
    </div>

    <div class="row">
        {% for image in images %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{url_for('image', id=image._id)}}" class="card-img-top" alt="{{image.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{image.title}}</h5>
                    <a href="{{url_for('image', id=image._id)}}" class="card-text">Link</a>
                    <a href="{{url_for('imageDelete', id=image._id)}}"><button class="btn btn-danger delete-button">Delete</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
